<%- include ../include/head.ejs %>

<body>

    
    <%- include ../include/nav.ejs %>

    <main>
        <div class="inner">
            <section id="main-content">
                <% if (messageNotFound.length > 0) { %>
                    <div class="alert alert-danger"><%= messageNotFound %></div>
                <% } %>
                <% if (messageFound.length > 0) { %>
                    <div class="alert alert-success"><%= messageFound %></div>
                <% } %>

                <!-- LOGIN FORM -->
                <form action="/forgetpassword" method="post">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" required <% if(messageFound.length > 0){ %> disabled <% }; %> name="email">
                    </div>

                    <button type="submit" class="btn btn-primary btn-lg">Recover</button>
                </form>
            </section>
        </div>
    </main>

    <%- include ../include/footer.ejs %>
    <%- include ../include/script.ejs %>
    
<%- include ../include/end.ejs %>