<%- include ../include/head.ejs %>

<body>

    
    <%- include ../include/nav.ejs %>
    
        <main>
            <div class="inner">
                <section id="main-content">

               <% if(validatedLink){ %>

                <% if (errorMessage.length > 0) { %>
                    <div class="alert alert-danger"><%= errorMessage %></div>
                <% } %>
                <form action="/forgetpassword/reset/<%= resetLink %>" required id="resetForm" method="post">
                    <div class="form-group">
                        <label>New password</label>
                        <input type="password" class="form-control" required id="passwordOne" name="passwordOne">
                    </div>
                    <div class="form-group">
                        <label>Repeat password</label>
                        <input type="password" class="form-control" required id="passwordTwo" name="passwordTwo">
                    </div>
                    <ul class="helper-text">
                        <li class="length">Must be at least 8 characters long.</li>
                        <li class="lowercase">Must contain a lowercase letter.</li>
                        <li class="uppercase">Must contain an uppercase letter.</li>
                        <li class="special">Must contain a number or special character.</li>
                        <li class="samePasswords">Must be the same passwords.</li>
                        <li class="checkWeirdChars">Can't contain: ' " / \</li>
                    </ul>

                    <button type="submit" id="submitButton" class="btn btn-primary btn-lg">Reset</button>
                </form>

                <% }else{ %>

                <p><%= message %></p>
                <p>Try again here: <a href="/forgetpassword"><strong>here</strong></a></p>

                <% }; %>
                </section>
            </div>
        </main>

    <%- include ../include/footer.ejs %>
    <%- include ../include/script.ejs %>

    <script>
        var bcharLength = false;
        var bLowercase = false;
        var buppercase = false;
        var bspecial = false;
        var bsamePasswords = false;
        var bcheckWeirdChars = false;
        (function(){
            var password = document.querySelector('#passwordOne');
            var passwordTwo = document.querySelector('#passwordTwo');
            var helperText = {
                charLength: document.querySelector('.helper-text .length'),
                lowercase: document.querySelector('.helper-text .lowercase'),
                uppercase: document.querySelector('.helper-text .uppercase'),
                special: document.querySelector('.helper-text .special'),
                samePasswords: document.querySelector('.helper-text .samePasswords'),
                checkWeirdChars: document.querySelector('.helper-text .checkWeirdChars')
            };

            var pattern = {
                charLength: function() {
                    if( password.value.length >= 8 ) {
                        bcharLength = true;
                        return true;
                    }else{
                        bcharLength = false;
                    }
                },
                lowercase: function() {
                    var regex = /^(?=.*[a-z]).+$/; // Lowercase character pattern
                    if( regex.test(password.value) ) {
                        bLowercase = true;
                        return true;
                    }else{
                        bLowercase = false;
                    }
                },
                uppercase: function() {
                    var regex = /^(?=.*[A-Z]).+$/; // Uppercase character pattern
                    if( regex.test(password.value) ) {
                        buppercase = true;
                        return true;
                    }else{
                        buppercase = false;
                    }
                },
                special: function() {
                    // var regex = /^(?=.*[\\"'/]).+$/; // Special character or number pattern
                    var regex = /^(?=.*[0-9_\W]).+$/; // Special character or number pattern
                    if( regex.test(password.value) ) {
                        bspecial = true;
                        return true;
                    }else{
                        bspecial = false;
                    }
                },
                samePasswords: function(){
                    // console.log(password.value)
                    // console.log(passwordTwo.value)
                    if(password.value == passwordTwo.value && password.value.length > 0){
                        bsamePasswords = true;
                        return true;
                    }else{
                        bsamePasswords = false;
                    }
                },
                checkWeirdChars: function(){
                    var regex = /^(?=.*[\\"'/]).+$/; // Special character or number pattern
                    if( regex.test(password.value) ) {
                        bcheckWeirdChars = true;
                        return true;
                    }else{
                        bcheckWeirdChars = false;
                    }
                }   
            };
            // Listen for keyup action on password field
            password.addEventListener('keyup', function (){
                // Check that password is a minimum of 8 characters
                patternTest( pattern.charLength(), helperText.charLength );
                // Check that password contains a lowercase letter      
                patternTest( pattern.lowercase(), helperText.lowercase );
                // Check that password contains an uppercase letter
                patternTest( pattern.uppercase(), helperText.uppercase );
                // Check that password contains a number or special character
                patternTest( pattern.special(), helperText.special );
                patternTest( pattern.samePasswords(), helperText.samePasswords );
                patternTest( pattern.checkWeirdChars(), helperText.checkWeirdChars );
            // Check that all requirements are fulfilled
            if( hasClass(helperText.charLength, 'valid') &&
                      hasClass(helperText.lowercase, 'valid') && 
                        hasClass(helperText.uppercase, 'valid') && 
                      hasClass(helperText.special, 'valid') &&
                      hasClass(helperText.samePasswords, 'valid') &&
                      hasClass(helperText.checkWeirdChars, 'valid')
                ) {
                    addClass(password.parentElement, 'valid');
            }
            else {
              removeClass(password.parentElement, 'valid');
            }
            });
            passwordTwo.addEventListener('keyup', function (){
                patternTest( pattern.samePasswords(), helperText.samePasswords );
                // Check that all requirements are fulfilled
                if( hasClass(helperText.samePasswords, 'valid')
                    ) {
                        addClass(password.parentElement, 'valid');
                }
                else {
                  removeClass(password.parentElement, 'valid');
                }
            });
            function patternTest(pattern, response) {
                if(pattern) {
              addClass(response, 'valid');
            }
            else {
              removeClass(response, 'valid');
            }
            }
            function addClass(el, className) {
                if (el.classList) {
                    el.classList.add(className);
                }
                else {
                    el.className += ' ' + className;
                }
            }
            function removeClass(el, className) {
                if (el.classList)
                        el.classList.remove(className);
                    else
                        el.className = el.className.replace(new RegExp('(^|\\b)' + className.split(' ').join('|') + '(\\b|$)', 'gi'), ' ');
            }
            function hasClass(el, className) {
                if (el.classList) {
                    // console.log(el.classList);
                    return el.classList.contains(className);    
                }
                else {
                    new RegExp('(^| )' + className + '( |$)', 'gi').test(el.className); 
                }
            }
        })();

        var formEl = document.querySelector('#resetForm');
        formEl.addEventListener("submit", function (e) {
            if(bcharLength && bLowercase && buppercase && bspecial && bsamePasswords && !bcheckWeirdChars){
            }else{
                e.preventDefault();
            }
        });

    </script>
    
<%- include ../include/end.ejs %>