<%- include ../include/head.ejs %>

<body>

    
    <%- include ../include/nav.ejs %>

    <main>
        <div class="inner">
            <section id="main-content">
                <h1>Slackbot</h1>
                <p>You want some coffee? Now you can! With this app you can setup auto responses with a few clicks. Add the responses you want. And when you get back from the coffee machine all you message's are logged. If there are new messages this will be streamed realtime to your browser! You will answer to btw;)</p>
            </section>
        </div>
    </main>

    <%- include ../include/footer.ejs %>
    <%- include ../include/script.ejs %>
    
<%- include ../include/end.ejs %>
